body {
    background-color: silver;
}

h1  {
    color:steelblue;
    margin-bottom: 1cm;
    font-family: cursive;
    
}
 h2  {
    color:black;
    margin-bottom: 1cm;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    
}
h3  {
    color:steelblue;
    margin-bottom: 1cm;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    
}
h4 {
    color:black;
    margin-bottom: 1cm;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    
}


p {
    padding: 0vmax;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

footer {
    color:steelblue;
    text-align: left;
    font-family: serif;
    padding :10px 0px 30px 0px;
}

 img {
    border: 2px whitesmoke;
    padding: 20x;
    margin: auto;
    
 } 
 
.states-life {
    background-color: silver;
    color: black;

}

.tech-journey{
    background-color: slategray;
    color: black
}

.about-me {
    background-color: grey;
    color: black;
}


 